body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
	margin: 0;
}

header, footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
	
}

footer {
    padding: 2rem 0;
    bottom: 0;
    width: 100%;
}

section {
    margin: 2rem;
}

img {
    max-width: 100%;
    height: auto;
}

.social-links {
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-links img {
    width: 60px;
    max-height: 60px;
    padding-right: 1rem;
    vertical-align: middle;
}

.container {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 80px;
}

.column {
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.column img {
    max-width: 100%;
    height: auto;
    width: 400px;
}

h2 {
    color: #333;
	margin-bottom: 15px;
}
h3	{
	color: #333;
	
}

table {
    border-collapse: collapse;
    width: 50%;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

.formation-section {
    margin-left: 50px;
}

.formation-item {
    margin-bottom: 20px;
}

.formation-item h2 {
    margin: 0;
    color: #0073e6;
}

.institution {
    font-weight: bold;
    color: #333;
}

.dates {
    font-style: italic;
    color: #555;
}

.container-formacion {
    display: flex;
    gap: 50px;
}
.columna-formacion {
    text-align: left;
}
.columna-intereses {
	width: 30%;
}
